@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}
@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}
@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}
@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

html {
    position: relative;
    min-height: 100%;
    max-height: 2000px;
}
body > .container {
    padding-top: 74px;
}
.navbar {
    background-color: #1bab8d;
}
.logo-header {
    cursor: pointer;
    object-fit: cover;
    height: 58px;
    width: 97px;
    margin-left: 12px;
}
nav a {
    z-index: 10;
}
.nav-link {
    color: white !important;
    margin: 0 5px;
}

@media only screen and (min-width: 768px) {
    .collapse {
        margin-left: -97px !important;
    }
}

/* end header */

.row {
    margin: 20px 0;
}

main, .row {
    height: 100%;
}

.card-deck .card {
    margin-bottom: 30px;
}
.card-profile {
    background-color: #e8f6f3;
    box-shadow: 0px 4px 4px #00000040;
    margin-bottom: 20px;
}

main {
    margin-bottom: 15%;
}

.top-container{
    display: flex;
    align-items: center;
}

.profile-image{
    border-radius: 10px;
    height: 60px;
    width: auto;
}

.btn-edit {
    background-color: #1bab8d !important;
    color: white !important;
    width: 190px !important;
}

input {
    outline-color: #0D5546 !important;
}

.btn-light {
    background-color: white;
    border: 1px solid #ced4da;
}

.btn-connection {
    color: white;
    background-color: #1bab8d;
    margin: auto;
    width: 50%;
}

.btn-add {
    background-color: #1bab8d;
    color: white;
}

footer {
    width: 100%;
    margin-top: 50px;
    bottom: 0;
}
.footer-copyright {
    color: white;
    background-color: #0D5546;
}