@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}
@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}
@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}
@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

html {
    position: relative;
    min-height: 100%;
}
body > .container {
    padding-top: 74px;
}
.navbar {
    background-color: #1bab8d;
}
.nav-link{
    color: var(--white)!important;
    margin: 0 5px;
}
.logo-header {
    cursor: pointer;
    object-fit: cover;
    height: 58px;
    width: 97px;
    margin-left: 12px;
}
@media only screen and (min-width: 768px) {
    .collapse {
        margin-left: -97px !important;
    }
}

/* end header */
@media only screen and (min-width: 992px) {
    .return {
        margin-top: 60px !important;
    }
    .col-lg-6 {
        margin-bottom: 100px !important;
    }

}
@media only screen and (max-width: 992px) {
    .return {
        margin-top: 30px !important;
    }
    .forms {
        margin-bottom: 70px !important;
    }
}

@media only screen and (max-width: 768px) {
    .forms {
        height: 440px !important;
    }
}

.logo-recupartenaires {
    height: 390px;
    margin-top: 6px;
    object-fit: cover;
    width: 465px;
}

.forms {
    background-color: #e8f6f3 !important;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 380px;
    padding: 40px 51px;
}

input {
    background-color: var(--alto)!important;
    outline-color: #0D5546 !important;
    color: var(--black)!important;
}

.btn-connection {
    color: white;
    background-color: #1bab8d;
    margin: auto;
    width: 50%;
}

.btn-add {
    background-color: #1bab8d;
    color: white;
}

footer {
    bottom: 0;
}
.footer-copyright {
    color: white;
    background-color: #0D5546;
}



