@import url("https://fonts.googleapis.com/css?family=Inter:400,700,300,500,600|Mulish:400");

@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}

body {
    margin: 0px;
}

.collector {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */

.header {
    align-items: flex-start;
    display: flex;
    position: fixed;
    min-width: 100%;
    z-index: 1;
}

.overlap-group0 {
    align-items: center;
    background-color: var(--emerald);
    display: flex;
    height: 100px;
    min-width: 100%;
}

.logoHeader {
    align-self: flex-start;
    margin-left: 12px;
    margin-top: 9px;
    cursor: pointer;
    height: 78px;
    object-fit: cover;
    width: 130px;
}
/* end header */

.collectorHi {
    text-align: center;
    color: var(--black);
    font-family: var(--font-family-calibri-bold);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    height: 50px;
    letter-spacing: 0;
    width: 95%;
    margin-top: 30%;
}

.collecteurInfoDiv {
    align-items: flex-start;
    display: flex;
    height: 100%;
    margin-top: 25%;
    margin-bottom: 5%;
    width: 100%;
}

.overlap-group1 {
    align-items: center;
    background-color: #e8f6f3;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #00000040;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5% 0;
    margin: 0 2.5%;
    width: 95%;
}

.flex-row {
    align-items: flex-end;
    display: flex;
    height: 100%;
    width: 100%;
}

.flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.line {
    align-self: flex-end;
    height: 2px;
    width: 32px;
    margin:10% 0;
}

.departureTitle {
    text-align: center;
    align-self: flex-start;
    letter-spacing: 0;
    margin-top: 31px;
    min-height: 19px;
    width: 100%;
}

.departureText {
    text-align: center;
    letter-spacing: 0;
    margin-right: 37.12px;
    margin-top: 12px;
    min-height: 19px;
    width: 100%;
}

.distanceTitle {
    text-align: center;
    letter-spacing: 0;
    margin-right: 28.07px;
    margin-top: 32px;
    min-height: 19px;
    width: 100%;
}

.distanceText {
    text-align: center;
    letter-spacing: 0;
    margin-right: 28.07px;
    margin-top: 12px;
    min-height: 19px;
    width: 100%;
}

.flex-col-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    height: 100%;
    width: 50%;
}

.vehiculeTitle {
    text-align: center;
    letter-spacing: 0;
    margin-left: 0;
    min-height: 19px;
    width: 100%;;
}

.vehiculeText {
    text-align: center;
    letter-spacing: 0;
    margin-left: 1.01px;
    margin-top: 12px;
    min-height: 19px;
    width: 100%;;
}

.estimatedTimeTitle {
    text-align: center;
    letter-spacing: 0;
    margin-top: 32px;
    min-height: 19px;
    width: 100%;;
}

.estimatedTimeText {
    text-align: center;
    letter-spacing: 0;
    margin-left: 1.01px;
    margin-top: 12px;
    min-height: 19px;
    width: 100%;;
}

.itineraryButton {
    align-items: flex-start;
    background-color: var(--emerald);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 400%;
    width: 65%;
    margin: 10% 17.5% 0 17.5%;
    padding: 3% 0;
}

.itineraryTitle {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 600;
    letter-spacing: 0;
    height: 100%;
    text-align: center;
    width: 100%;
}

.infoButton {
    align-items: flex-start;
    border: 1px solid var(--emerald);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 400%;
    width: 65%;
    margin: 5% 17.5% 10% 17.5%;
    padding: 3% 0;
}

.findOutMoreTitle {
    color: var(--emerald);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 600;
    letter-spacing: 0;
    height: 100%;
    text-align: center;
    width: 100%;
}






