.profileInteraction{
    align-items: flex-end;
}
.btn-connection {
    color: white;
    background-color: transparent;
    border-color: white;
}
.calibri-regular-normal-white-22px{
    font-size: 22px;
}
.dropdown-menu{
    left: -100%;
    z-index: 110;
}

.dropdown-item:active {
    background-color: transparent;
}
@media screen and (max-width: 768px) {
    .dropdown-menu{
        left: 0;
    }
}