@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}
@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}
@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}
@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

html {
    position: relative;
    min-height: 100%;
}

body > .container {
    padding-top: 74px;
}

.navbar {
    background-color: var(--emerald);
}

.logo-header {
    cursor: pointer;
    object-fit: cover;
    height: 58px;
    width: 97px;
    margin-left: 12px;
}

.nav-link {
    color: white !important;
    margin: 0 10px;
}

.btn-connection {
    color: white;
    background-color: transparent;
    border-color: white;
    /*margin-right: 12px;*/
}

.dropdown-menu{
    left: -100%;
}


.dropdown-item{
    /*background-color: var(--white)!important;*/
}

/* end header */

.spanEmerald {
    color: var(--emerald) !important;
}
.category {
    padding-top: 100px;
    margin-bottom: 100px;
}

.category-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.category-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
.pub {
    height: 32rem;
}

.missions {
    height: 28rem;
}

.img-earth {
    height: 28rem !important;
    min-width: auto !important;
    left: auto !important;
    right: auto !important;
}

.category-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}
@media screen and (max-width: 992px) {
    .category-image {
        opacity: 0.4;
    }
    .dropdown-menu{
        left: 0;
    }
}

.btn-margin {
    margin-top: 50px;
}

.btn-recupartenaire {
    color: white;
    background-color: #1bab8d;
    margin: auto;
}

.recupartenairesLogo {
    height: 84px;
    object-fit: cover;
    width: 95px;
    margin: -15px -15px -25px -10px;
}

.context-img {
    width: 100%;
    margin: 50px 0;
}

.slogan {
    font-size: 4em;
}

.lead {
    font-size: 1.1em;
}

.recuputile {
    color: #1bab8d;
}


.page-footer {
    color: white;
    background-color: #1bab8d;
}

.logoFooter {
    height: 100px;
    object-fit: cover;
    width: auto;
}

.aHref {
    color: white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.aHref:hover {
    text-decoration: none;
    color: #0D5546;
}

.footer-copyright {
    color: white;
    background-color: #0D5546;
}

