@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}

@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}

@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Mulish:400");

.registerpage {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 878px;
    width: 1440px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.header-1 {
    height: 88px;
    width: 1440px;
}

.overlap-group-container {
    align-items: center;
    display: flex;
    margin-right: 39px;
    margin-top: 42px;
    min-width: 1069px;
}

.overlap-group3 {
    height: 438px;
    margin-bottom: 69px;
    position: relative;
    width: 465px;
}

.title {
    color: var(--emerald);
    font-family: var(--font-family-articulat_cf-bold);
    font-size: var(--font-size-xl);
    font-weight: 700;
    height: 78px;
    left: 64px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 337px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-partenaire-sans-fond {
    height: 390px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 48px;
    width: 465px;
}

.overlap-group4 {
    height: 689px;
    margin-left: 140px;
    position: relative;
    width: 464px;
}

.upload-icon {
    height: 30px;
    left: 366px;
    position: absolute;
    top: 56px;
    width: 35px;
}

.overlap-group2 {
    align-items: flex-end;
    background-color: #e8f6f3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 689px;
    padding: 21.2px 52px;
    position: absolute;
    top: 0;
    width: 462px;
}

.password-div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-left: 5px;
    min-height: 71px;
    width: 353px;
    
}

.x-input {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 50px;
    margin-top: 6px;
    margin-left: -90px;
    min-width: 353px;
    padding: 6px 12px;
}

.placeholder {
    height: 36px;
    letter-spacing: 0;
    line-height: 21px;
    width: 301px;
}

.icon {
    align-self: center;
    height: 16px;
    margin-bottom: 1px;
    margin-left: 12px;
    width: 16px;
}

.header {
    height: 20px;
    letter-spacing: 0;
    margin-top: -10px;
    margin-left: -65px;
}

.overlap-group {
    align-items: flex-start;
    background-color: var(--emerald);
    border-radius: 4px;
    display: flex;
    margin-top: 18px;
    min-width: 353px;
    padding: 0 33.3px;
}

.btn-text-1 {
    color: var(--white);
    font-family: var(--font-family-calibri-regular);
    font-size: var(--font-size-m2);
    font-weight: 400;
    height: 51px;
    letter-spacing: 0;
    text-align: center;
    width: 285px;
    margin-left: 35px;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    height: 75px;
    min-width: 353px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.name-div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 57px;
    width: 227px;
}

.name-input {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 50px;
    margin-top: 6px;
    margin-left: -70px;
    min-width: 227px;
    padding: 6px 12px;
}

.placeholder-1 {
    height: 36px;
    letter-spacing: 0;
    line-height: 21px;
    width: 203px;
}

.overlap-group1 {
    align-items: flex-start;
    align-self: flex-end;
    background-color: var(--sonic-silver);
    border-radius: 4px;
    display: flex;
    margin-left: 22px;
    min-width: 104px;
    padding: 0 10px;
}

.btn-text {
    color: var(--white);
    font-family: var(--font-family-calibri-light);
    font-size: var(--font-size-xs);
    font-weight: 300;
    height: 50px;
    letter-spacing: 0;
    text-align: center;
    width: 50px;
    margin-right: 50px;
}

.mail-div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    min-height: 57px;
    width: 353px;
}

.placeholder-2 {
    height: 36px;
    letter-spacing: 0;
    line-height: 21px;
    width: 329px;
}

.switch-to-connection-link {
    align-self: flex-start;
    color: #0066ff;
    cursor: pointer;
    font-family: var(--font-family-mulish);
    font-size: var(--font-size-xs2);
    font-weight: 400;
    height: 14px;
    letter-spacing: 0;
    margin-left: 5px;
    margin-top: 20pxpx;
    text-decoration: underline;
    width: 154px;
}

.confirm-password-div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 1px;
    margin-top: 23px;
    min-height: 71px;
    width: 353px;
}

.icon-1 {
    align-self: center;
    height: 16px;
    margin-left: 12px;
    width: 16px;
}

.motivation-div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    min-height: 71px;
    width: 353px;
}

.motivation-input {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 129px;
    margin-top: 6px;
    margin-left: -90px;
    min-width: 353px;
    padding: 8px 12px;
}

.placeholder-3 {
    letter-spacing: 0;
    line-height: 21px;
    min-height: 111px;
    width: 329px;
}
