@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}

@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}

/*Body*/
body{
    display: grid;
    grid-template-areas:
    'a a a'
    'b b b';
    grid-template-rows: 15vh 85vh;
    grid-template-columns: 30vw 35vw 35vw;
    overflow: hidden;
    margin: 0;
}

/*Header*/
.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 100%;
    z-index: 10;

    position: fixed;
    grid-area: a;
}
.overlap-group0 {
    align-items: center;
    background-color: var(--emerald);
    display: flex;
    height: 78px;
    min-width: 100%;
}
.logoHeader {
    align-self: flex-start;
    margin-left: 12px;
    margin-top: 9px;
    cursor: pointer;
    height: 58px;
    object-fit: cover;
    width: 97px;
}

/*Profile Modification*/
.profileModification {
    background-color: var(--white);
    grid-area: b;

    display: grid;
    grid-template-areas:
    'a b c';
    grid-template-rows: 100%;
    grid-template-columns: 30vw 35vw 35vw;
}


/* >> Profile Info */
.profile{
    grid-area: a;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    z-index: 3;
    margin: 5px;
}
.infoProfile{
    background-color: var(--aqua-squeeze);
    border-radius: 10px;
    box-shadow: 0 4px 4px #00000040;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 22px;
    min-width: 80%;
}
.returnButton{
    align-items: flex-start;
    cursor: pointer;
    display: flex;

    margin-top: 24px;
    min-width: 123px;
}
.overlap-group4 {
    align-items: center;
    justify-content: center;
    background-color: var(--emerald);
    border-radius: 4px;
    display: flex;
    height: 47px;
    min-width: 121px;
}
.shape {
    height: 21px;
    width: 25px;
}
.placeholder {
    align-self: center;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 26px;
    min-height: 25px;
    width: 59px;
}
.mail-info-placeholder {
    letter-spacing: 0;
    margin-top: 7px;
    min-height: 22px;
    width: 308px;
}
.subscription-date-header {
    letter-spacing: 0;
    margin-top: 15px;
    min-height: 22px;
    width: 308px;
}
.mail-info-header {
    letter-spacing: 0;
    margin-top: 21px;
    min-height: 22px;
    width: 164px;
}
.flex-row {
    align-items: flex-start;
    display: flex;
    margin-top: 1px;
    min-width: 308px;
}
.profile-img {
    background-color: var(--alto);
    border-radius: 4px;
    height: 90px;
    width: 90px;
}
.flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    min-height: 90px;
    width: 197px;
}
.inscription-date-placeholder {
    letter-spacing: 0;
    margin-top: 7px;
    min-height: 22px;
    width: 164px;
}
.inscription-date-header {
    letter-spacing: 0;
    margin-top: 15px;
    min-height: 22px;
    width: 164px;
}
.name-info-placeholder {
    color: var(--black);
    font-family: var(--font-family-calibri-bold);
    font-size: var(--font-size-m2);
    font-weight: 700;
    letter-spacing: 0;
    min-height: 24px;
    width: 197px;
}

/* >> Subscription Price*/
.subscriptionPrice{
    grid-area: b;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    z-index: 3;
}
.priceDiv {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    min-height: 60px;
    width: 90%;
}
.placeholderPrice {
    height: 36px;
    letter-spacing: 0;
    line-height: 21px;
    width: 329px;
    margin-top: 5px;
    border-style: hidden;
    outline: none;
    background-color: #1fe0;
}

/* >> Subscription Type */
.subscriptionType{
    grid-area: c;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    z-index: 3;
}
.form{
    width: 75%;
    border: none;
}
input[type="radio"].subcriptionTypeChoice {
    display: none;
}
input[type="radio"].subcriptionTypeChoice + label {
    position: relative;
    padding-left: 1.3rem;
}
input[type="radio"].subcriptionTypeChoice + label::before,
input[type="radio"].subcriptionTypeChoice + label::after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    content:'';
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}
input[type="radio"].subcriptionTypeChoice + label::before {
    border: 1px solid #00B7E8;
    background-color: #eee;
}
input[type="radio"].subcriptionTypeChoice:checked + label::after {
    background-color: #00B7E8;
}

/*Code Opti*/
.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.valign-text-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--aqua-squeeze);
    border-radius: 10px;
    box-shadow: 0 4px 4px #00000040;

    text-align: center;
    padding: 22px;
}
.title {
    height: 20px;
    letter-spacing: 0;
    align-items: flex-start;
}
.input {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 50px;
    margin-top: 6px;
    padding: 6px 12px;
}
.headerChange {
    letter-spacing: 0;
    width: 100%;
}
.buttonDiv {
    flex-direction: column;
    display: flex;

    margin-top: 25px;
    min-height: 60px;

    width: 90%;
    padding: 0 12px;

    cursor: pointer;
}
.confirmButton {
    background-color: var(--emerald);
    border-radius: 4px;
    height: 50px;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1200px){
    .profileModification{
        background-color: var(--white);
        grid-area: b;

        display: grid;
        grid-template-areas:
        'a a'
        'b c';
        grid-template-rows: 55vh;
        grid-template-columns: 50vw 50vw;
    }
    .body{
        overflow: visible;
    }
}
@media screen and (max-width: 800px){
    .profileModification{
        background-color: var(--white);
        grid-area: b;

        display: grid;
        grid-template-areas:
        'a'
        'b'
        'c';
        grid-template-rows: 55vh;
        grid-template-columns: 100vw;
    }
    .body{
        overflow: visible;
    }
}