/*styling.css*/
/*add font family, background image*/

body {
    color: #5bc0de;
    font-family: "Poppins", sans-serif;
  }
      
  /*map*/
  #googleMap {
    width: 80%;
    height: 400px;
    margin: 10px auto;
  }
  
  /*output box*/
  #output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
  }
