
body {
  color: #1BAB8D;
  font-family: "Calibri", sans-serif;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #1BAB8D;
}

.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 3.5em;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

#googleMap {
  width: 80%;
  height: 400px;
  margin: 10px auto;
}

#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: black;
}
