@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}

@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Mulish:400");

@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}

body{
    margin:0px;
}

.connectionPage {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */
.header {
    align-items: flex-start;
    display: flex;
    position: fixed;
    min-width: 100%;
    z-index: 1;
}

.overlap-group0 {
    align-items: center;
    background-color: var(--emerald);
    display: flex;
    height: 78px;
    min-width: 100%;
}

.logoHeader {
    align-self: flex-start;
    margin-left: 12px;
    margin-top: 9px;
    cursor: pointer;
    height: 58px;
    object-fit: cover;
    width: 97px;
}
/* end header */

/* connection */

.connection {
    align-items: center;
    display: flex;
    height: 464px;
    margin-right: 32px;
    padding-top: 78px;
    margin-top: 42px;
    min-width: 1076px;
}

.logoRecupartenaires {
    height: 390px;
    margin-top: 6px;
    object-fit: cover;
    width: 465px;
}

.overlap-group1 {
    align-items: flex-end;
    background-color: #e8f6f3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    margin-left: 143px;
    min-height: 464px;
    padding: 49px 51px;
    width: 462px;
    margin-top: 75px;
}

.connectionTitle {
    align-self: flex-start;
    color: var(--mine-shaft);
    font-family: var(--font-family-calibri-regular);
    font-size: var(--font-size-l);
    font-weight: 700;
    height: 32px;
    letter-spacing: 0;
    margin-left: 40px;
}

.mailDiv {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-top: 25px;
    min-height: 60px;
    width: 353px;
}

.title {
    height: 20px;
    letter-spacing: 0;
    margin-top: -1px;
}

.input {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 50px;
    margin-top: 6px;
    width: 353px;
    padding: 6px 12px;
}

.placeholder {
    height: 36px;
    letter-spacing: 0;
    line-height: 21px;
    width: 329px;
    margin-top: 5px;
    border-style: hidden;
    outline: none;
    background-color: #1fe0;
}

.passwordDiv {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-top: 37px;
    min-height: 75px;
    width: 353px;
}

.iconPassword {
    align-self: center;
    height: 16px;
    margin-left: 12px;
    width: 16px;
}

.linkContainer {
    align-items: flex-start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    height: 15px;
    letter-spacing: 0;
    text-decoration: underline;
}

.forgetPassword {
    cursor: pointer;
    height: 15px;
    letter-spacing: 0;
    min-width: 111px;
    text-decoration: underline;
    float: left;
    margin-left: 9%;
    width: 40%;
    text-align: left;
}

.switchToRegister {
    cursor: pointer;
    height: 15px;
    letter-spacing: 0;
    min-width: 111px;
    text-decoration: underline;
    float: left;
    width: 40%;
    text-align: right;
}

.overlap-group {
    align-items: flex-start;
    background-color: #1bab8d;
    border-radius: 4px;
    display: flex;
    margin-right: 46px;
    margin-top: 37px;
    min-width: 353px;
    padding: 0 12px;
}

.connectionButton {
    color: var(--white);
    font-family: var(--font-family-calibri-regular);
    font-size: var(--font-size-m2);
    font-weight: 400;
    height: 50px;
    letter-spacing: 0;
    text-align: center;
    width: 285px;
    margin-left: 30px;
    cursor: pointer;
}

/* end connection */


