@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}
@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}
@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}
@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

body > .container {
    padding-top: 74px;
}

.navbar {
    background-color: #1bab8d;
}

.logo-header {
    cursor: pointer;
    object-fit: cover;
    height: 58px;
    width: 97px;
    margin-left: 12px;
}

/* end header */
@media only screen and (min-width: 992px) {
    .col-lg-6 {
        margin: 80px 0!important;
    }
}
@media only screen and (max-width: 992px) {

    .forms {
        margin-bottom: 20px !important;
    }
}

.logo-recupartenaires {
    height: auto;
    margin-top: 6px;
    object-fit: cover;
    width: 90%;
}

@media only screen and (max-width: 991px){
    .logo-recupartenaires {
        width: 50%;
        margin-bottom: 10%;
    }
    .row {
        margin-top: 8% !important;
    }
    .forms {
        padding: 15px 20px !important;
    }
}

@media only screen and (max-width: 500px){
    h3 {
        font-size: 20px;
    }
    label, a, .footer-copyright {
        font-size: 14px;
    }
}

.forms {
    background-color: #e8f6f3 !important;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 100%;
    padding: 40px 51px;
}

input {
    background-color: var(--alto)!important;
    outline-color: #0D5546 !important;
    color: var(--black)!important;
}

.padding-correct {
    padding-right: 0px !important;
}

.btn-connection, .btn-invoice {
    color: white;
    background-color: #1bab8d;
    margin: auto;
    width: 50%;
}

.btn-invoice-div {
    margin-top: 40px;
}

footer {
    bottom: 0;
}
.footer-copyright {
    color: white;
    background-color: #0D5546;
}



