@font-face {
    font-family: "Calibri-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Calibri-Bold") format("truetype");
}
@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}
@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}
@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > .container {
    padding-top: 74px;
}

.navbar {
    background-color: #1bab8d;
}

@media only screen and (min-width: 768px) {
    .collapse {
        margin-left: -97px !important;
    }
}

.logo-header {
    cursor: pointer;
    object-fit: cover;
    height: 58px;
    width: 97px;
    margin-left: 12px;
}
nav a{
    z-index: 10;
}
.nav-link {
    color: white !important;
    margin: 0 5px;
}

/* end header */

.big-row {
    margin: 20px 0;
}

main, .big-row {
    height: 100%;
}

main {
    flex: 1;
}

.row {
    width: 100%;
}

.card {
    background-color: #e8f6f3;
    box-shadow: 0px 4px 4px #00000040;
}

.btn-finish {
    background-color: #1bab8d !important;
    color: white !important;
    width: 190px !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 150px !important;
}

.card-profile{
    background-color: #e8f6f3;
    box-shadow: 0px 4px 4px #00000040;
    margin-bottom: 20px;
}

.tooltip {
    width: 340px !important;
}
.tooltip-inner {
    max-width: 340px !important;
}

.btn-light {
    background-color: #e8f6f3;
    border-color: #1bab8d;
}

.col-2, .col{
    padding: 0 1vh;
}

img{
    width: 80px;
}

hr {
    border-color: #0D5546;
}
.row-final {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
    bottom: 0;
}
.footer-copyright {
    color: white;
    background-color: #0D5546;
}






