@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}

@font-face {
    font-family: "Calibri-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Calibri-Light") format("truetype");
}

@font-face {
    font-family: "Calibri-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Calibri-Regular") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Mulish:400");

body{
    margin:0px;
}

.registerpage {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 100%;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */
.header {
    align-items: flex-start;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.overlap-group0 {
    align-items: center;
    background-color: var(--emerald);
    display: flex;
    height: 78px;
    width: 100%;
}

.logoHeader {
    align-self: flex-start;
    margin-left: 12px;
    margin-top: 9px;
    cursor: pointer;
    height: 58px;
    object-fit: cover;
    width: 97px;
}
/* end header */


.overlap-group-container {
    align-items: center;
    display: flex;
    margin-right: 39px;
    margin-top: 42px;
    min-width: 1069px;
}

.overlap-group1 {
    height: 438px;
    margin-bottom: 69px;
    position: relative;
    width: 465px;
}

.logoPartenaireImg {
    left: 0;
    object-fit: cover;
    position: absolute;
    margin-top: 78px;
    width: 100%;
}

.title {
    color: var(--emerald);
    font-family: var(--font-family-articulat_cf-bold);
    font-size: var(--font-size-xl);
    font-weight: 700;
    height: 78px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.overlap-group2 {
    height: 700px;
    margin-left: 140px;
    margin-top: 7%;
    position: relative;
    width: 465px;
    margin-bottom: 10%;
}

.overlap-group3 {
    align-items: flex-end;
    background-color: #e8f6f3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    left: 0;
    height: 699px;
    padding: 4% 10% 10% 10%;
    position: absolute;
    width: 90%;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    width: 100%;
    margin-top: 25px;
    min-height: 71px;
}

.inputTitle {
    height: 20px;
    letter-spacing: 0;
    margin-top: -1px;
    margin-bottom: 6px;
}

.inputNameDiv {
    width: 130%;
}

.inputName {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 41px;
    width: 100%;
    padding: 4% 7%;
}

.placeholder {
    letter-spacing: 0;
    height: 41px;
    line-height: 21px;
    width: 100%;
    border-style: hidden;
    outline: none;
    background-color: #1fe0;
    vertical-align: middle;
}

.logo {
    align-items: flex-start;
    align-self: flex-end;
    background-color: var(--sonic-silver);
    border-radius: 4px;
    width: 40%;
    margin-left: 20%;
    padding: 0 10px;
    height: 45px;
    margin-bottom: -5px;
}

.logoUpload {
    color: var(--white);
    font-family: var(--font-family-calibri-light);
    font-size: var(--font-size-xs);
    font-weight: 300;
    height: 100%;
    letter-spacing: 0;
    text-align: left;
    width: 50px;
}

.uploadImg {
    height: 30px;
    left: 420px;
    position: absolute;
    top: 56px;
    margin-top: 26px;
    width: 35px;
}

.inputDiv {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    min-height: 71px;
    width: 100%;
}

.input {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 41px;
    width: 92%;
    padding: 3.2% 4%;
}

.placeholder2 {
    letter-spacing: 0;
    height: 21px;
    line-height: 21px;
    width: 100%;
    margin-top: 5px;
    border-style: hidden;
    outline: none;
    background-color: #1fe0;
}

.iconPassword {
    align-self: center;
    height: 16px;
    margin-left: 12px;
    width: 16px;
}

.motivationDiv {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 165px;
    width: 100%;
}

.inputMotivation {
    align-items: flex-start;
    background-color: var(--alto);
    border-radius: 4px;
    display: flex;
    height: 110px;
    margin-top: 6px;
    width: 92%;
    padding: 2.6% 4%;
}

.placeholderMotivation {
    letter-spacing: 0;
    line-height: 21px;
    min-height: 111px;
    width: 381px;
    border-style: hidden;
    outline: none;
    background-color: #1fe0;
}

.linkContainer {
    align-items: flex-start;
    display: flex;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    height: 15px;
    letter-spacing: 0;
    text-decoration: underline;
    color: #0066ff;
    font-family: var(--font-family-mulish);
    font-size: var(--font-size-xs2);
    font-weight: 400;
    margin-left: 5px;
}

.forgetPassword {
    cursor: pointer;
    height: 15px;
    letter-spacing: 0;
    min-width: 111px;
    text-decoration: underline;
    float: left;
    margin-left: 9%;
    width: 40%;
    text-align: left;
}

.overlap-group {
    align-items: flex-start;
    background-color: var(--emerald);
    border-radius: 4px;
    display: flex;
    margin-top: 18px;
    min-width: 353px;
    padding: 0 33.3px;
}

.btn-text-1 {
    color: var(--white);
    font-family: var(--font-family-calibri-regular);
    font-size: var(--font-size-m2);
    font-weight: 400;
    height: 51px;
    letter-spacing: 0;
    text-align: center;
    width: 285px;
    margin-left: 35px;
}

